*.pyc
*.pyo
*.pyd
__pycache__
*/__pycache__/
*/__pycache__

.env

venv/
env/
venv
env


staticfiles/
media/
media

*.secret

logs/
*.log

build/

*.cache
*.swp
*.swo
*.tmp

.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.idea

*.js.map

.coverage
.tox
.pytest_cache



pip-selfcheck.json
